@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
  margin: 0;
  background: #4568DC;
  background: -webkit-linear-gradient(to left, #4568DC , #B06AB3);
  background: linear-gradient(to left, #4568DC , #B06AB3);
  background-attachment: fixed;
}

html,
body,
#root {
  height: 100%;
}
